body{
	font-family: sans-serif;
}

nav{
	width: 425px;
	margin-bottom: 15px;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #e15a1f;
	overflow: hidden;
}

nav ul li{ 
	float: left;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 7px 15px 5px 15px;	
	display: block; 
}

nav ul li a:hover{ 
	background-color: #cc470d;
}

h1{
	color: #cc470d;
}

img{
	max-width: 100%;	
}

#lamp, #sw1, #sw2{
	cursor:pointer;
}
